<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
    </header>
    <div class = "Categories" style = "border-bottom: 2px solid rgb(0, 0, 0);">
        <h3 class = "CatContent">
            Country
        </h3>
        <h3 class = "CatContent">
            Population
        </h3>
        <h3 class = "CatContent">
            Area (km<sup>2</sup>)
        </h3>
        <h3 class = "CatContent">
            GDP
        </h3>
        <h3 class = "CatContent">
            Language
        </h3>
    </div>
    <ul>
        <li class = "Categories">
            <div class ="CatContent">
                <div class="rectangleWrong over"></div>
                <h3 class="boxText over">A Country</h3>
            </div>
            <div class ="CatContent">
                <div class="rectangleWrong over"></div>
                <div class="triangle-down over"></div>
                <h3 class="boxText over">1.31 Billion</h3>
            </div>
            <div class ="CatContent">
                <div class="rectangleWrong over"></div>
                <div class="triangle-up over"></div>
                <h3 class="boxText over">300,000</h3>
            </div>
            <div class ="CatContent">
                <div class="rectangleRight over"></div>
                <h3 class="boxText over">100.21 Million</h3>
            </div>
            <div class ="CatContent">
                <div class="rectangleWrong over"></div>
                <h3 class="boxText over"> ExLang</h3>
            </div>
        </li>
        <li class = "Categories">
            <div class ="CatContent">
                <div class="rectangleWrong over"></div>
                <h3 class="boxText over">B Country</h3>
            </div>
            <div class ="CatContent">
                <div class="rectangleWrong over"></div>
                <div class="triangle-down over"></div>
                <h3 class="boxText over">3,460,000</h3>
            </div>
            <div class ="CatContent">
                <div class="rectangleWrong over"></div>
                <div class="triangle-up over"></div>
                <h3 class="boxText over">700</h3>
            </div>
            <div class ="CatContent">
                <div class="rectangleRight over"></div>
                <h3 class="boxText over">3,000</h3>
            </div>
            <div class ="CatContent">
                <div class="rectangleWrong over"></div>
                <h3 class="boxText over"> ExLang</h3>
            </div>
        </li>
        <li class = "Categories">
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
        </li>
        <li class = "Categories">
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
        </li>
        <li class = "Categories">
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
        </li>
        <li class = "Categories">
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
            <div class ="CatContent">
                <div class="rectangleBlank over"></div>
            </div>
        </li>
    </ul> 
    <form>
        <input type="text" id="Guess" name="Guess">
    </form>
</body>